@font-face {
	font-family: Dekar Light; 
	src: url(fonts/Dekar-Light.otf);
}

@font-face {
	font-family: Dekar; 
	src: url(fonts/Dekar.otf);
}

@font-face {
	font-family: Quasith Regular; 
	src: url(fonts/Quasith-Regular.otf);
}

@-webkit-keyframes fade-in{
    from{
        opacity:1;
        top:0px;
        font-size: 6em;
    }
    to{
        opacity:0;
        top:-5px;
    }
}

body{
	color: #000;
}

h1 {
		font-family: Quasith Regular;
}

.clock{
	width: 480px;
	margin: 50px auto;
}

.header{
	text-align: center;
}

.linebar{
	border-bottom: 2px solid #000;
	margin: 2px 3px;
}

.phone-title{
	margin: 0 10px;
}

.phone-number{
	font-family: Dekar Light; 
	text-align: center;
	font-size: 2.5em;
	line-height: 2em;
}

.message{
	width: 100%;
	text-align: center;
	margin: 0 10px;
}

.message-info{
	font-family: Quasith Regular;
	text-align: center;
	font-size: 1.3em;
	line-height: 4em;
	letter-spacing: 0.2em;
}

.alarm-msg{
	font-family: Dekar; 
	text-align: center;
	font-size: 2em;
	line-height: 2em;
	letter-spacing: 0.1em;
}

.alarm {
	font-family: Dekar; 
	text-align: center;
	font-size: 6em;
	line-height: 1.5em;
	-webkit-animation: fade-in 2s infinite;

}

.send{
	width: 100%;
	border: 1px solid #000;
	border-radius: 0;
	font-size: 2em;
	text-align: center;
//	background-color: #C0C0C0;
	padding: 5px 0;
	margin: 10px 0;
	font-family: Dekar; 
}


 .date>select{
 	font-family: Dekar; 
 	border: 1px solid #F2F2F2;
	font-size: 2em;
	height: 2em;
	padding: 5px 20px 0 5px;
	border-radius: 0;
	appearance:none;
	-webkit-appearance:none;
	background: transparent url("/images/arrow.svg") no-repeat 100% #F2F2F2;
	display: inline-block;
	-webkit-background-size: 20px 80%;
}
.clocky{
	position: relative;
	width: 100%;
	height: 80px;
}

.date{
	position: absolute;
	display: inline-block;
	border-top: 2px solid #000;
	padding: 10px 0px 5px;
	width: 52%;
	float: left;

}

.time{
	position: absolute;
	border-top: 2px solid #000;
	display: inline-block;
	width: 46%;
	padding: 10px 5px 5px;
	right: 0;
}

.time>select{
	font-family: Dekar; 
	color: #fff;
	border: 1px solid #000;
	border-radius: 0;
	font-size: 2em;
	height: 2em;
	padding: 5px 25px 0 5px;
	appearance:none;
	-webkit-appearance:none;
	background: transparent url("/images/arrow_white.svg") no-repeat 100% #000;
	display: inline-block;
	-webkit-background-size: 20px 80%;
}

#footer{
	text-align: center;
}

.send a{
	color: #000;
	font-size: 1.2em;
}




