.nav-box{
	width: 500px;
	height:600px;
	margin: 10px  auto;
	border:2px solid black;
	overflow: hidden;
}



#footer, #header{
	margin:20px auto;
	text-align: center;
}
// .item-list-container {
//   -webkit-transform: rotate(30deg) skew(50deg);
//   -ms-transform: rotate(30deg) skew(50deg);
//   -moz-transform: rotate(30deg) skew(50deg);
//   transform: rotate(30deg) skew(50deg);
// }




/*INNER CIRCLE*/
.wrapper:before {
  content: "DS";
  text-align: center;
  font: 70px/135px Georgia, Times, serif;
  color: #efefef;
  position: absolute;
  top: 140px;
  left: 110px;
  z-index: 10;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;

  -webkit-box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
}

.input-banner{
	position: relative;
	top: 500px;
	z-index: 2;
}

/*MAIN CIRCLE*/
.circle {
  position: relative;
  margin-top:300px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 30px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0px 0px 30px rgba(0,0,0,0.2);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/*LITTLE CIRCLES*/
.circle li {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  list-style-type: none;
  text-align: center;
  font: 20px/50px Helvetica, Arial, sans-serif;
  top: 0;
  left: 0;
}

.circle li:nth-child(1) {
  top: 100px;
  left: 20px;
}

.circle li:nth-child(2) {
  top: 0px;
  left: 200px;
}

.circle li:nth-child(3) {
  top:100px;
  left: 400px;
}

.circle li:nth-child(4) {
  top: 125px;
  left: 15px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}



