doctype html
html(ng-app="alarmApp")
  head
    title CLOCKY project
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular-route.min.js')
    script(src='//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.min.js')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet' type='text/css')
    // inject:js 
    // endinject 
    // inject:css 
    // endinject 
  body(ng-cloak)
  div.clock(ng-controller="TimePickerCtrl")
    h1.header CLOCKY
    div.linebar
    div.linebar
    div.phone
      h6.phone-title PHONE NUMBER
      div.phone-number 416-268-1649
    div.clocky
      div.date
        select#month(ng-model="selectMonth" ng-options="month as month.name for month in months")
        select#day(ng-module="day")
          option(value='') 22
        select#year(ng-module="year")
          option(value='') 2014
      div.time
        select#hour(ng-module="hour")
          option(value='') 07
        select#minute(ng-module="minute")
          option(value='') 56
        select#hour(ng-module="second")
         option(value='') AM
    div.linebar
    div.message MESSAGE
    div.message-info Echo!!!!!!!!Wake up!!!!
    button.btn.send(ng-click="submit()") Send Alarm >




    
