'use strict'

###*
 # @ngdoc function
 # @name navApp.controller:AboutCtrl
 # @description
 # # AboutCtrl
 # Controller of the navApp
###
nav = angular.module('navApp' )
nav.directive 'MainAnimate', ($scope) ->
 